@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=MuseoModerno:wght@300;400;500;600;700;800;900&family=Oswald:wght@300;400;500;600;700&family=Philosopher:ital,wght@1,700&family=Poppins:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@500&display=swap');

* {

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;



}

:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
    --main1-color: #ff9f0d;
}

/* navlist */
.navlist {
    display: flex;
    gap: 15px;
    font-weight: 400;
    font-size: 1.3rem;
}

/* form suru */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}

body {
    /* min-height: 100vh; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    background: blue; */
}



#title {
    text-align: center;
}

h1 {
    color: rgb(0, 81, 255);
}

.fr {
    display: flex;
    gap: 20px;
}

/* box ar size komai */
.sbx {
    width: 40px;
    height: 40px;
    border-radius: 20px solid;
    font-size: 1rem;
}
































.containr {
    /* position: relative; */
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


/* d */
.d {
    display: flex;
}

.containr header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.containr header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #bdc1cc;
}

.containr form {
    position: relative;
    margin-top: 16px;
    min-height: 50px;
    background-color: #fff;
}

.containr form .form {
    position: absolute;
    background-color: #fff;
}

.containr form .form.second {
    opacity: 0;
    pointer-events: none;
}


.containr form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    column: #333;
}

.containr form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;

}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;

}

.input-field input {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

.containr form button,
.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;

}

.containr form button .containr form .backBtn {
    font-size: 14px;
    font-weight: 400;

}

form button:hover {
    background-color: #265df2;
}

form button i,
form .backBtn i {
    margin: 0 6px;
}

form .backBtn i {
    transform: rotate(180deg);
}

form .buttons {
    display: flex;
    align-items: center;

}

form .buttons button,
.backBtn {
    margin-right: 14px;
}

/* from  ses */
























img {
    width: 100%;
}

body {
    /* color: var(--text-color); */
}

.container {

    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    /* position: fixed; */
}

.logo {
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;

}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

/* cart */
.cart {
    border: 2px solid red;
    position: absolute;
    top: 0;
    /* right: 0; */
    /* change previois to hide the cart */
    /* right: -100%; */
    /* after js is added for opne and close cart */
    /* right: 0; */
    /* sob ses a  */
    right: 0;

    width: 360px;
    /* min-height: 100vh; */
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    /*  */
    transition: 0.3s;

    display: none;

}

/* for hide the cart */
.cart.active {
    right: 0;
    display: block;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600px;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.tatal {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background: var(--text-color);
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    background: rgba(11, 197, 229, 0.913);
    font-weight: 500;
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600px;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* 2nd  */
.section-title-t {
    margin-top: 70px;
    font-size: 1.5rem;
    font-weight: 600px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.section-title-d {
    margin-top: 70px;
    font-size: 1.5rem;
    font-weight: 600px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop {
    margin-top: 2rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.product-box {
    position: relative;
}

.product-box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: .4s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: hsl(249, 32%, 17%);
}


/* braking point */
@media (max-width : 1080px) {
    .nav {
        padding: 15px;
    }

    section {
        padding: 3rem 0 2rem;
    }

    .container {
        margin: 0 auto;
        width: 90%;
    }

    .shop {
        margin-top: 2rem !important;
    }
}

@media (max-width : 400px) {
    .nav {
        padding: 11px;
    }

    .logo {
        font-size: 1rem;
    }

    .cart {
        width: 320px;
    }
}

@media (max-width : 360px) {
    .shop {
        margin-top: 1rem !important;
    }

    .cart {
        width: 280px;
    }
}


.nav-test {
    border: 1px solid yellow;
}

/* .text-cart {
    border: 1px solid blue;
} */

.test {
    position: relative;
    border: 1px solid red;
    margin-top: 100px;
}